[submodule "crates/worldline/OpenUtau"]
	path = crates/worldline/OpenUtau
	url = https://github.com/stakira/OpenUtau.git
[submodule "crates/assets/voicevox_core"]
	path = crates/assets/voicevox_core
	url = https://github.com/voicevox/voicevox_core.git
